#midcolumn p { 
	font-size: 1.2em;
	text-align: justify;
}

#midcolumn th {
    font-weight: bold;
    text-align: center;
}

#leftnav li {
    list-style-image: none;
    list-style-type: disc;
}

#leftnav .separator {
    list-style-type: none;
}

#leftnav .separator img {
	display: none;
}

#novaContent li {
    padding: 0;
    list-style-type: disc;
    list-style-image: none;
}