body
{
        font-family: san-serif;
        background-color: #FFFFFF;
}

a:link { color: #3333ff }
a:visited { color: #3333ff }
a:hover { color: #ff6600 } 
a:active { color: #3333ff } 

a.section:link {color: yellow }
a.section:visited {color: yellow }
a.section:hover  { color:  #ff6600 }
a.section:active {color: #ff6600 }

a.selsection:link {color: #c0c0c0 }
a.selsection:visited { color: #c0c0c0 }
a.selsection:hover  { color:  #c0c0c0 }
a.selsection:active {color: #c0c0c0 }

a.subsection:link { color: darkblue }
a.subsection:visited { color: darkblue }
a.subsection:hover { color:  #ff6600}
a.subsection:active {color: #ff6600 }

a.selsubsection:link {color: #c0c0c0 }
a.selsubsection:visited { color: #c0c0c0 }
a.selsubsection:hover  { color:  #c0c0c0}
a.selsubsection:active {color: #c0c0c0 }

div.leader
{
    width: 960px;
    margin-right: auto;
    margin-left: auto;
}

table.index
{
        border-width: 2
        border-spacing: 5
}

td.section
{        
        border-style: outset;
        border-width: 0;
        border-color: white;
        background-color: darkblue;

        font-variant: small-caps;
	font-weight: bold; 
	border-color: #9BA0E8;
	border-width: 1px;
	border-left-width: 12px; 
	border-style: solid;
}

td.subsection
{        
        border-style: outset;
        border-width: 0;
        border-color: white;
        background-color: white;
}

p.hdr
{
        font-family:sans-serif;
        font-variant: small-caps;
	color: yellow; 
        background-color: darkblue;
	font-weight: bold; 
	border-color: #9BA0E8;
	border-top-width: 1px;
	border-bottom-width: 1px; 
	border-left-width: 12px; 
	border-right-width: 1px;
	border-style: solid;
}


p.blurb
{        
        font-family:  sans-serif;
       	color: black; 
	font-weight: normal; 
        font-size: small;
	text-align: justify;
}



blockquote, p, body, td, ol, ul, menu, div
{
        font-family:  sans-serif;
        color: #333333;
        font-weight: normal;
        font-size: small;
}

th, h1
{
        font-family: sans-serif;
        font-weight: bold;
        text-decoration: none;
}



A
{
        font-family: sans-serif
        color: #000099;
        font-weight: bold;
        text-decoration: none;
}

a.hdr
{ 
  text-decoration: none; 
  font-family:sans-serif;
  font-weight: bold;
  color: yellow;
}



a.menu
{
  text-decoration: none; 
  font-family: sans-serif;
  font-weight: normal;
  
  color: yellow; 
}


a.selmenu
{
  text-decoration: none; 
  font-family: sans-serif;
  font-weight: normal;
  
  color: yellow;
}


pre
{
        font-family: Courier New, Courier;
}


a.hidden:link , a.hidden:visited, a.hidden:hover, a.hidden:active
{color: white; }

