BODY
{
        font-family: san-serif;
        background-color: #FFFFFF;
}

A:link { color: #3333ff }
A:visited { color: #3333ff }
A:hover { color: #ff6600 } 
A:active { color: #3333ff } 

a.section:link {color: yellow }
a.section:visited {color: yellow }
a.section:hover  { color:  #ff6600 }
a.section:active {color: #ff6600 }

a.selsection:link {color: #c0c0c0 }
a.selsection:visited { color: #c0c0c0 }
a.selsection:hover  { color:  #c0c0c0 }
a.selsection:active {color: #c0c0c0 }

a.subsection:link { color: darkblue }
a.subsection:visited { color: darkblue }
a.subsection:hover { color:  #ff6600}
a.subsection:active {color: #ff6600 }

a.selsubsection:link {color: #c0c0c0 }
a.selsubsection:visited { color: #c0c0c0 }
a.selsubsection:hover  { color:  #c0c0c0}
a.selsubsection:active {color: #c0c0c0 }



TABLE.INDEX
{
        border-width: 2
        border-spacing: 5
}

TD.SECTION
{        
        border-style: outset;
        border-width: 0;
        border-color: white;
        background-color: darkblue;

        font-variant: small-caps;
	font-weight: bold; 
	border-color: #9BA0E8;
	border-width: 1px;
	border-left-width: 12px; 
	border-style: solid;
}

TD.SUBSECTION
{        
        border-style: outset;
        border-width: 0;
        border-color: white;
        background-color: white;
}

P.HDR
{
        font-family:sans-serif;
        font-variant: small-caps;
	color: yellow; 
        background-color: darkblue;
	font-weight: bold; 
	border-color: #9BA0E8;
	border-top-width: 1px;
	border-bottom-width: 1px; 
	border-left-width: 12px; 
	border-right-width: 1px;
	border-style: solid;
}


P.BLURB
{        
        font-family:  sans-serif;
       	color: black; 
	font-weight: normal; 
        font-size: small;
	text-align: justify;
}


P.JOBTITLE
{
        font-family:  sans-serif;
       	color: black; 
	font-weight: bold; 
        font-size: small;
	text-align: right;
}

P.COMPANY
{
        font-family:sans-serif;
       	color: black; 
	font-weight: bold; 
        font-size: normal;
	text-align: right;
}

P.HEADLINE
{       
        font-family: sans-serif;
       	color: darkblue; 
	font-weight: bold; 
        font-size: larger;
	text-align: left;
        border-style: inset;
        border-bottom-width: 0px;
        border-top-width: 0px;
        border-left-width: 0px;
        border-right-width: 0px;
        border-color: darkblue;
}


P.COPYRIGHT
{        
        font-family: sans-serif;
       	color: darkblue; 
	font-weight: normal; 
        font-size: small;
	text-align: center;
}

BLOCKQUOTE, P, BODY, TD, OL, UL, MENU, DIV
{
        font-family:  sans-serif;
        color: #333333;
        font-weight: normal;
        font-size: small;
}

TH, H1
{
        font-family: sans-serif;
        font-weight: bold;
        text-decoration: none;
}



A
{
        font-family: sans-serif
        color: #000099;
        font-weight: bold;
        text-decoration: none;
}

A.HDR
{ 
  text-decoration: none; 
  font-family:sans-serif;
  font-weight: bold;
  color: yellow;
}



A.MENU
{
  text-decoration: none; 
  font-family: sans-serif;
  font-weight: normal;
  
  color: yellow; 
}


a.selmenu
{
  text-decoration: none; 
  font-family: sans-serif;
  font-weight: normal;
  
  color: yellow;
}


PRE
{
        font-family: Courier New, Courier;
}


TD.MARGIN
{
        width: 20;
        align: left;
        valign: middle;
      
}

TD.BLANKROW
{
        height: 20;
}


TABLE.PRICE
{

       
}

TR.PRICEHDR
{       
         background-color: #666666;        
         border-style: groove;
         border-width: 3;
         border-color: #666666;
        
}


TD.PRICEHDR
{
        font-family: sans-serif;        
        font-variant: small-caps;
	color: white; 
        font-weight: bold;         
        border-style: groove;
        border-width: 3;
        border-color: #666666;
}


TR.PRICEMINI
{         
         background-color: silver;
         border-style: groove;
         border-width: 2;
         border-color: silver;
}

TD.PRICEMINIB
{        
         font-family: san-serif;        
         font-weight: bold;
         font-size: normal;
         color: black;        
        border-style: groove;
        border-width: 2;
        border-color: silver;
}
TD.PRICEMINI
{        
         font-family: san-serif;        
         font-weight: normal;
         font-size: mormal;
         color: black;        
        border-style: groove;
        border-width: 2;
        border-color: silver;
}

TR.PRICEBAS
{        
         background-color:#FFCC66;         
         border-style: groove;
         border-width: 2;
         border-color: #FFCC66;
}

TD.PRICEBASB
{       
         font-family: san-serif;         
         font-weight: bold;
         background-color:#FFCC66;
         color: black;         
         border-style: groove;
         border-width: 2;
         border-color: #FFCC66;
}
TD.PRICEBAS
{       
         font-family: san-serif;         
         font-weight: normal;
         background-color:#FFCC66;
         color: black;         
         border-style: groove;
         border-width: 2;
         border-color: #FFCC66;
}

TR.PRICEREG
{        
        background-color:#FF9900;         

}

TD.PRICEREGB
{
        font-family: san-serif;         
        font-weight: bold;
        background-color:#FF9900;
        color: black;        
        border-style: groove;
         border-width: 2;
         border-color: #FF9900;
}
TD.PRICEREG
{
        font-family: san-serif;         
        font-weight: normal;
        background-color:#FF9900;
        color: black;        
        border-style: groove;
         border-width: 2;
         border-color: #FF9900;
}

TR.PRICEPREM
{       
        background-color:#FF6600;        

}


TD.PRICEPREMB
{
        font-family: sans-serif; 
        font-weight: bold;
        background-color:#FF6600;        
        border-style: groove;
        border-width: 2;
        border-color: #FF6600;
}

TD.PRICEPREM
{       
        font-family: sans-serif; 
        background-color:#FF6600;        
        border-style: groove;
        border-width: 2;
        border-color: #FF6600;
}


TD.POWER
{
       
        border-style: dotted;
        border-top-width: 2;
        border-left-width: 2;
        border-right-width: 2;
        border-bottom-width: 4;
        border-color: #9BA0E8;
}


a.hidden:link , a.hidden:visited, a.hidden:hover, a.hidden:active
{color: white; }

