# Redirects and Aliases for Jetty

# jarvana seems to have an inordinate amount of bad apidoc urls

RedirectMatch 301 ^/jetty/apidocs/(.*) http://download.eclipse.org/jetty/stable-9/apidocs/$1
RedirectMatch 301 ^/jetty/jetty-.*/apidocs/(.*) http://download.eclipse.org/jetty/stable-9/apidocs/$1

# handle all of the unfortunate appended module <url>'s

AliasMatch ^/jetty/jetty.* /jetty